<!-- Home -->
<div id="home" class="ua-home ua-section row clearfix">
	<div class="container animated fadeInUp">
		<div class="ua-section-heading text-center">
			<div class="h1 ua-milestone">
				INFLUENCE DIGITAL
			</div>

			<p class="ua-section-tagline">
				"Every living being is an engine geared to the wheelwork of the universe. <br>
				Though seemingly affected only by its immediate surrounding, <br>
				the sphere of external influence extends to infinite distance."<br>
				<span class="nikola-tesla">Nikola Tesla</span>
			</p>
			<ul class="list-inline ua-social-channels">
				<li>
					<a target="_blank" href="https://twitter.com/intent/follow?screen_name=influenceDGTL" class="twitter">
						<i class="icon-twitter"></i>
					</a>
				</li>
				<li>
					<a target="_blank" href="https://facebook.com/influenceDGTL?ref=idwebsite-h" class="facebook">
						<i class="icon-facebook"></i>
					</a>
				</li>
				<li>
					<a target="_blank" href="https://instagram.com/influenceDGTL" class="instagram">
						<i class="icon-instagram"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>