<!-- About -->
<div id="about" class="ua-about ua-section row clearfix">
	<div class="container">
		<div class="ua-section-heading text-center clearfix">
			<div class="h1 ua-headline">WE'RE NEW. BUT NOT REALLY.</div>
			<hr>
		</div>

		<div class="ua-section-body">
			<div class="col-sm-6">
				<div class="h1 ua-headline">ABOUT</div>
				<p class="ua-section-tagline">
					Influence Digital is the new digital and social media marketing agency formed by the team from the award-winning social media agency, United, in partnership with Independent Talent Group and Outside Organisation.
				</p>
				<p class="ua-section-tagline">
					We help talent and brands harness the power of word of mouth. We produce exceptional creative work whilst delivering outstanding commercial results.
				</p>
			</div>
			<div class="col-sm-6">
				<div class="id-partners">
					<a target="_blank" href="http://www.independenttalent.com/" class="id-partner partner-itg">Independent Talent Group</a>
					<a target="_blank" href="http://www.outside-org.co.uk/" class="id-partner partner-outside">Outside Organisation</a>
				</div>
			</div>
		</div>

	</div>
</div>
